body{
    background-image:url(coco.jpg);
}
h1{
    font-weight: bold;
}
 
.imagem-fundo  {  width: 100%;  height: 100vh; background-image: url('coco.jpg');  background-size: cover;  background-position: center; background-repeat: no-repeat}